
/* Chapter:Verse number styling */
.chapter-num {
    float: left;
    margin: 0 .5em .5em 0;
}
.verse-num {
    font-weight: bold;
    font-size: 80%;
    vertical-align: top;
}
.verse-1 {
    display: none;
}