/study.js
/study.min.js
/test/
/app/content/bibles/**/*.*.html
/app/content/bibles/**/*.html
/app/content/bibles/**/*.json
/app/content/bibles/**/*.css
/app/content/bibles/**/**/*.json
/app/content/audio/*.mp3
/app/content/videos/*.mp4
/app/content/images/*.jpg
*.db