/* fonts */
@font-face {
	font-family: 'GentiumPlus';
    src: url('fonts/gentiumplus-r-webfont.eot');
    src: url('fonts/gentiumplus-r-webfont.eot?#iefix') format('eot'),
         url('fonts/gentiumplus-r-webfont.woff') format('woff'),
         url('fonts/gentiumplus-r-webfont.ttf') format('truetype'),
         url('fonts/gentiumplus-r-webfont.svg#webfontVIEluHTz') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'EzraSILRegular';
    src: url('fonts/sileot-webfont.eot');
    src: url('fonts/sileot-webfont.eot?#iefix') format('eot'),
         url('fonts/sileot-webfont.woff') format('woff'),
         url('fonts/sileot-webfont.ttf') format('truetype'),
         url('fonts/sileot-webfont.svg#webfontVIEluHTx') format('svg');
	font-weight: normal;
	font-style: normal;
}



/* titles */
h1.book-name {
	text-align: center;
	font-size: 2.0em;
	margin: 1.2em 0;
}
h3 {
	margin: 1.0em 0;
}

.chapter p {
	margin: 1.0em 0;
}
.chapter[lang=he] {
	font-size: 20px;
	font-family: 'EzraSILRegular';
}
.chapter[lang=el] {
	font-family: 'GentiumPlus';
	font-size: 16px;
	line-height: 1.8;
}


/* Chapter:Verse number styling */
.chapter-num {
    float: left;
	font-size: 1.6em;
	line-height: 1;
    margin: 0 .5em .5em 0;
}

.chapter[dir=rtl] .chapter-num {
    float: right;
	margin: 0 0 .5em .5em;
}

.verse-num {
    font-weight: bold;
    font-size: 12px;
	font-family: Helvetica, Arial;
    vertical-align: top;
	-x-color: #cc6666;
	color: #aaa;
	/*
	display: inline-block;
	border: solid 1px #666;
	background: #eee;
	color: #555;
	padding: 2px;
	line-height: 1;
	*/
}
.v-1 {
    display: none;
}

/* NASB */
.version-nasb span.verse {
	display: block;
	text-indent: 10px;
}

/* note letters, and CF numbers */
dl.note ,
dl.cf {
	display: inline;
}

dl.note dt,
dl.cf dt {
	vertical-align: top;
	font-size: 60%;
	font-weight: bold;
	color: #3333cc;
	letter-spacing: 1px;
	cursor: pointer;
	display: inline;
}
.chapter dl.note dt:hover ,
.chapter dl.cf dt:hover {
	color: #fff;
	background: #3333cc;
}

/* don't diplsay the note text */
.chapter dl.note dd,
.chapter dl.cf dd {
	display: none;
}

/* footer */
.document-footer dt {
	display: inline;
	vertical-align: top;
	font-size: 60%;
	font-weight: bold;
	color: #3333cc;	
}
.document-footer dd {
	display: inline;
	color: #000;
}

span.woc {
	color: #aa0000;
}

/* search */

#search-results span.note,
#search-results span.cf {
	display: none;
}