/* fonts */
@font-face {
	font-family: 'GentiumPlus';
    src: url('fonts/gentiumplus-r-webfont.eot');
    src: url('fonts/gentiumplus-r-webfont.eot?#iefix') format('eot'),
         url('fonts/gentiumplus-r-webfont.woff') format('woff'),
         url('fonts/gentiumplus-r-webfont.ttf') format('truetype'),
         url('fonts/gentiumplus-r-webfont.svg#webfontVIEluHTz') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'EzraSILRegular';
    src: url('fonts/sileot-webfont.eot');
    src: url('fonts/sileot-webfont.eot?#iefix') format('eot'),
         url('fonts/sileot-webfont.woff') format('woff'),
         url('fonts/sileot-webfont.ttf') format('truetype'),
         url('fonts/sileot-webfont.svg#webfontVIEluHTx') format('svg');
	font-weight: normal;
	font-style: normal;
}



/* titles */
h1.book-name {
	text-align: center;
	font-size: 2.0em;
	margin: 1.2em 0;
}
h3 {
	margin: 1.0em 0 0 0;
}

.chapter p {
	-x-margin: 1.0em 0;
	text-indent: 1.0em;
}
.chapter[lang=he] {
	font-size: 20px;
	font-family: 'EzraSILRegular';
}
.chapter[lang=el] {
	font-family: 'GentiumPlus';
	font-size: 16px;
	line-height: 2.0;
}
/*
.chapter[lang=el] {
	font-family: 'Gentium','Gentium Plus';
}
*/

.chapter ins {
	text-decoration: none;
	font-style: italic;
}


/* Chapter:Verse number styling */
.chapter-num {
    float: left;
	font-size: 2.0em;
	line-height: 1;
    margin: 0 .25em .5em 0;
}

.chapter-num + p {
	
	text-indent: 0;
}

.chapter[dir=rtl] .chapter-num {
    float: right;
	margin: 0 0 .5em .5em;
}

.verse-num {
    font-weight: bold;
    font-size: 12px;
	font-family: Helvetica, Arial;
    vertical-align: top;
	-x-color: #cc6666;
	color: #aaa;
	/*
	display: inline-block;
	border: solid 1px #666;
	background: #eee;
	color: #555;
	padding: 2px;
	line-height: 1;
	*/
}
.v-1 {
    display: none;
}

/* NASB */
.nasb span.verse {
	display: block;
	text-indent: 10px;
	line-height: 1.5;
}
.nasb .ot-quote {
	font-variant: small-caps;
}
.nasb .chapter p {
	margin: 0 0 1em 0;
}


/* note letters, and CF numbers */
.note,
.cf {
	display: inline;
}
.note .key,
.cf .key {
	vertical-align: top;
	font-size: 60%;
	font-weight: bold;
	color: #3333cc;
	letter-spacing: 1px;
	cursor: pointer;
	display: inline;
}
.chapter .note .key:hover ,
.chapter .cf.key:hover {
	color: #fff;
	background: #3333cc;
}

/* don't diplsay the note text */
.chapter .note .text,
.chapter .cf .text {
	display: none;
}

/* footer */
.document-footer .cf .key,
.document-footer .note .key {
	display: inline;
	vertical-align: top;
	font-size: 8px;
	font-weight: bold;
	color: #3333cc;	
}
.document-footer .cf .text,
.document-footer .note .text {
	display: inline;
	color: #000;
}

.document-footer .cf:after,
.document-footer .note:after {
	content: '  ';
}

span.woc {
	color: #aa0000;
}

/* search */

#search-results span.note,
#search-results span.cf {
	display: none;
}


.Ps_1 .verse,
.Ps_2 .verse,
.Ps_3 .verse,
.Ps_4 .verse,
.Ps_5 .verse,
.Ps_6 .verse,
.Ps_7 .verse,
.Ps_8 .verse,
.Ps_9 .verse,
.Ps_10 .verse,

.Ps_11 .verse,
.Ps_12 .verse,
.Ps_13 .verse,
.Ps_14 .verse,
.Ps_15 .verse,
.Ps_16 .verse,
.Ps_17 .verse,
.Ps_18 .verse,
.Ps_19 .verse,
.Ps_20 .verse,

.Ps_21 .verse,
.Ps_22 .verse,
.Ps_23 .verse,
.Ps_24 .verse,
.Ps_25 .verse,
.Ps_26 .verse,
.Ps_27 .verse,
.Ps_28 .verse,
.Ps_29 .verse,
.Ps_30 .verse,

.Ps_31 .verse,
.Ps_32 .verse,
.Ps_33 .verse,
.Ps_34 .verse,
.Ps_35 .verse,
.Ps_36 .verse,
.Ps_37 .verse,
.Ps_38 .verse,
.Ps_39 .verse,
.Ps_40 .verse,

.Ps_41 .verse,
.Ps_42 .verse,
.Ps_43 .verse,
.Ps_44 .verse,
.Ps_45 .verse,
.Ps_46 .verse,
.Ps_47 .verse,
.Ps_48 .verse,
.Ps_49 .verse,
.Ps_40 .verse,

.Ps_51 .verse,
.Ps_52 .verse,
.Ps_53 .verse,
.Ps_54 .verse,
.Ps_55 .verse,
.Ps_56 .verse,
.Ps_57 .verse,
.Ps_58 .verse,
.Ps_59 .verse,
.Ps_60 .verse,

.Ps_61 .verse,
.Ps_62 .verse,
.Ps_63 .verse,
.Ps_64 .verse,
.Ps_65 .verse,
.Ps_66 .verse,
.Ps_67 .verse,
.Ps_68 .verse,
.Ps_69 .verse,
.Ps_70 .verse,

.Ps_81 .verse,
.Ps_82 .verse,
.Ps_83 .verse,
.Ps_84 .verse,
.Ps_85 .verse,
.Ps_86 .verse,
.Ps_87 .verse,
.Ps_88 .verse,
.Ps_89 .verse,
.Ps_90 .verse,

.Ps_91 .verse,
.Ps_92 .verse,
.Ps_93 .verse,
.Ps_94 .verse,
.Ps_95 .verse,
.Ps_96 .verse,
.Ps_97 .verse,
.Ps_98 .verse,
.Ps_99 .verse,
.Ps_100 .verse,

.Ps_101 .verse,
.Ps_102 .verse,
.Ps_103 .verse,
.Ps_104 .verse,
.Ps_105 .verse,
.Ps_106 .verse,
.Ps_107 .verse,
.Ps_108 .verse,
.Ps_109 .verse,
.Ps_110 .verse,

.Ps_111 .verse,
.Ps_112 .verse,
.Ps_113 .verse,
.Ps_114 .verse,
.Ps_115 .verse,
.Ps_116 .verse,
.Ps_117 .verse,
.Ps_118 .verse,
.Ps_119 .verse,
.Ps_120 .verse,

.Ps_121 .verse,
.Ps_122 .verse,
.Ps_123 .verse,
.Ps_124 .verse,
.Ps_125 .verse,
.Ps_126 .verse,
.Ps_127 .verse,
.Ps_128 .verse,
.Ps_129 .verse,
.Ps_130 .verse,

.Ps_141 .verse,
.Ps_142 .verse,
.Ps_143 .verse,
.Ps_144 .verse,
.Ps_145 .verse,
.Ps_146 .verse,
.Ps_147 .verse,
.Ps_148 .verse,
.Ps_149 .verse,
.Ps_150 .verse

{
	display: block;
}