/* titles */
h1.book-name {
	text-align: center;
	margin: 10px 0;
}
h3 {
	margin: 10px 0 5px;
}


/* Chapter:Verse number styling */
.chapter-num {
    float: left;
    margin: 0 .5em .5em 0;
}
.verse-num {
    font-weight: bold;
    font-size: 80%;
    vertical-align: top;
}
.verse-1 {
    display: none;
}

/* NASB */
.version-nasb span.verse {
	display: block;
	text-indent: 10px;
}

.version-nasb span.note,
.version-nasb span.cf {
	display: none;
}


/* search */

#search-results span.note,
#search-results span.cf {
	display: none;
}