/* titles */
h1.book-name {
	text-align: center;
	font-size: 2.0em;
	margin: 1.2em 0;
}
h3 {
	margin: 1.0em 0;
}

.chapter p {
	margin: 1.0em 0;
}
.chapter[lang=he] {
	font-size: 120%;
}


/* Chapter:Verse number styling */
.chapter-num {
    float: left;
	font-size: 1.6em;
	line-height: 1;
    margin: 0 .5em .5em 0;
}

.chapter[dir=rtl] .chapter-num {
    float: right;
	margin: 0 0 .5em .5em;
}

.verse-num {
    font-weight: bold;
    font-size: 90%;
    vertical-align: top;
	-x-color: #cc6666;
	color: #aaa;
	/*
	display: inline-block;
	border: solid 1px #666;
	background: #eee;
	color: #555;
	padding: 2px;
	line-height: 1;
	*/
}
.verse-1 {
    display: none;
}

/* NASB */
.version-nasb span.verse {
	display: block;
	text-indent: 10px;
}


.chapter span.note dfn,
.chapter span.cf dfn {
	display: none;
}

.chapter span.note,
.chapter span.cf {
	vertical-align: top;
	font-size: 60%;
	font-weight: bold;
	color: #3333cc;
	letter-spacing: 1px;
	cursor: pointer;
}

.chapter span.note:hover,
.chapter span.cf:hover {
	color: #fff;
	background: #3333cc;
}

.document-footer span.note dfn,
.document-footer span.cf dfn {
	display: inline;
	color: #000;
}

span.woc {
	color: #aa0000;
}

/* search */

#search-results span.note,
#search-results span.cf {
	display: none;
}