/* titles */
h1.book-name {
	text-align: center;
	margin: 10px 0;
}
h3 {
	margin: 10px 0 5px;
}


/* Chapter:Verse number styling */
.chapter-num {
    float: left;
    margin: 0 .5em .5em 0;
}
.verse-num {
    font-weight: bold;
    font-size: 80%;
    vertical-align: top;
	color: #cc6666;
	/*
	display: inline-block;
	border: solid 1px #666;
	background: #eee;
	color: #555;
	padding: 2px;
	line-height: 1;
	*/
}
.verse-1 {
    display: none;
}

/* NASB */
.version-nasb span.verse {
	display: block;
	text-indent: 10px;
}


.version-nasb span.note dfn,
.version-nasb span.cf dfn {
	display: none;
}

.version-nasb span.note,
.version-nasb span.cf {
	vertical-align: top;
	font-size: 60%;
	font-weight: bold;
	color: #3333cc;
	letter-spacing: 1px;
	cursor: pointer;
}

.version-nasb span.note:hover,
.version-nasb span.cf:hover {
	color: #fff;
	background: #3333cc;
}


/* search */

#search-results span.note,
#search-results span.cf {
	display: none;
}