/* Judson Aurora Bible  */
@font-face {
	font-family: 'padauk_src';
    src: url('fonts/padauk_src.eot');
    src: url('fonts/padauk_src.eot?#iefix') format('eot'),
         url('fonts/padauk_src.woff') format('woff'),
         url('fonts/padauk_src.ttf') format('truetype'),
         url('fonts/padauk_src.svg#webfontVIEluHTx') format('svg');
	font-weight: normal;
	font-style: normal;
}

.JUD {
	font-family: 'padauk_src';
}

*												{margin: 0;padding: 0}
a {text-decoration: none;}
div[data-role="content"]						{padding:65px 10px 10px 10px;font-family: helvetica, sans-serif;line-height: 1.5;color: #555}

div[data-role="header"] 						{position:fixed;height:64px;width: 100%;background-color: #222;color: #898989;line-height: 64px;}
div[data-role="header"] a						{width:50px;height:64px;position: fixed;top:0;text-indent: -9999px;opacity: .5;color: #222;text-decoration: none}
div[data-role="header"] a:hover 				{opacity: 1}
div[data-role="header"] a[data-icon="home"]		{background: url(images/menu.png) center no-repeat #222;width:100%;height:64px;left:50%;width:50px;margin-left: -25px}
div[data-role="header"] a[data-icon="arrow-r"]	{background: url(images/right-arrow.png) center no-repeat #222;right:0}
div[data-role="header"] a[data-icon="arrow-l"]	{background: url(images/left-arrow.png) center no-repeat #222;left:0}

dl												{height: auto;border-bottom: 1px solid #e6e6e6;padding-top: 65px;}
dl dt											{background: #222;text-align: center;color: #ccc;cursor: default;display: block;float: left;font-size: 12px;height: 40px;line-height: 40px;padding: 0;padding-right: 9px;padding-left: 20px;width: auto;text-transform: uppercase}
dl dt, dl dd									{float: none;height: auto}
dl dd											{text-align: center}
dl dd a											{font-family: Verdana, Geneva, sans-serif;color: #555;display: block;font-size: 20px;height: auto;line-height: 1;padding: 15px 20px;}
dl dd a:hover									{background: #222; color: #fff}


/* Bible Specific */
ins												{font-style: italic;text-decoration: none}
h2 												{text-align: center}
.note 											{display: none}
.verse-num										{vertical-align: top; font-size: x-small;color: #777}