body {
	background: #fff;
}

#header {
	height: 40px;
}
.site-header {
	background: #333;
	color: #fff;
}

#header h1 {
	float: left;
	width: 300px;
	padding: 10px 0 10px 20px;
	font-size: 18px;
}

#header #header-nav {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
	padding: 10px 10px 0 0 ;
}

#content {
	background: #fff;
}

#footer {
	height: 12px;
	padding: 5px 0;
	background: #333;
	color: #fff;
	text-align: center;
	font-size: 10px;
}

#footer a {
	color: #fff;
}

#header, #footer, #content {
	font-family: Helvetica, Arial;
}

#header-nav input {
	background: transparent url(images/icons-small.png) 0 0  no-repeat;
	border: solid 1px #999;
	border-radius: 5px;
	-x-text-indent: -9999px;
	width: 22px;
	height: 22px;
	margin: 0 2px;
	cursor: pointer;	
}
#header-nav input:hover {
	background-color: #3333ff;	
}


#header-nav #docs-fullscreen {
	background-position: -485px -38px;
}
#header-nav #docs-fullscreen.is-fullscreen {
	background-position: -517px -38px;
}
#header-nav #docs-config {
	background-position: -5px -38px;
}
#header-nav #docs-add-document {
	background-position: -326px -37px;
}
#header-nav #docs-morphology {
	background-position: -230px -37px;
}


.document-container {
	margin: 0;
	-x-border: solid 1px #bbb;
	float: left;
	position: relative;
}

.document-header {
	padding: 5px 20px;
	border: solid 1px #aaa;
	border-width: 1px 1px 1px 0;
	border-color: transparent #ccc #aaa transparent;
	background-color: #DDDCDA;
	height: 25px;
}
	.document-header-left {
		text-align: left;
		position: absolute;
		top: 6px;
		left: 5px;
		z-index: 2;
	}

	.document-header-right {
		-x-float: right;
		-x-width: 100px;
		text-align: right;
		position: absolute;
		top: 6px;
		right: 5px;
		z-index: 1;
	}

	.document-header .document-button {
		display: none;
	}
	.document-header .document-header-input {
		display: inline-block;
		vertical-align: top;
	}
	.document-header .document-input {
		width: 140px;
		height: 20px;
		font-size: 14px;
		padding: 0 4px;
		color: #bbb;
		margin: 0;
		border: solid 1px #999;
	}
	.document-header .document-header-selector {
		width: 55px;
		height: 20px;
		display: inline-block;
		position: relative;
		margin: 0 2px 0 4px;
		vertical-align: top;
		background: transparent url(images/arrow-down.png) center right no-repeat;
	}
	.document-header .document-header-selector span {
		font-size: 12px;
		padding: 4px;
		width: 47px;
		height: 12px;		
		color: #444;
		position: absolute;
		pointer-events: none;
		border: solid 1px #999;
		/* border-radius: 5px; */
	}
	
	.document-header .document-header-selector .document-selector {
		width: 55px;
		position: absolute;
		opacity: 0;
		-webkit-appearance: none;
	}
	
	/*
	 .document-header .document-header-buttons {
		float: left;
	}
	*/
	
	.document-header .document-header-options {
		display: none;
	}
	
	.document-header-button {
		background: transparent url(images/icons-small.png) 0 0  no-repeat;
		border: solid 1px #999;
		border-radius: 5px;
		text-indent: -9999px;
		width: 22px;
		height: 22px;
		margin: 0 2px;				
	}
	
	.document-header-button:hover {
		background-color: #ccccff;
		cursor: pointer;
	}
	.document-search-button {	
		background-position: -37px -6px;
	}
	.document-info-button {
		background-position:  -70px -6px;
	}
	.document-options-button {	
		background-position: -6px -6px;
	}	
	.document-close-button {
		background-position:  -198px -6px;
	}
	.document-lock-button {
		background-position:  -102px -6px;
	}
	.state-unlocked {
		background-position: -134px -6px;
	}
	
	.document-audio-button {
		background-position: -165px -5px;
	}

.document-content {
	position: relative;
	overflow: auto;
	/*
	overflow: scroll;
	overflow-y: hidden;
	overflow-x: hidden;
	*/
}

	.document-wrapper {
		position: absolute;
		padding: 10px 20px;
		line-height: 1.6;
		font-size: 14px;
		font-family: Helvetica, Arial;
	}	

.document-about {
	position: absolute;
	background: #fefefe;
	background: rgba(221, 220, 218, 0.9);
	top: 10px;
	left: 10px;
	width: 200px;
	padding: 15px;
	height: 200px;
	display: none;
}

	.document-about h1 {
		margin: 0 0 15px 0;
		line-height: 1;
	}
	
	.document-about p {
		margin: 15px 0;
		line-height: 1.5;
	}

.document-footer {
	padding: 4px 15px;
	color: #333;
	height: 44px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	line-height: 1.2;	
	
	border: solid 1px #aaa;
	border-width: 1px 1px 1px 0;
	border-color: #ccc #ccc transparent  transparent;
}

.document-footer-resize {
	position: absolute;
	bottom: 49px;
	height: 5px;
	cursor: row-resize;
	/* background: rgba(255,0,0,0.5); */
	font-size: 1%;
	padding: 0;
	margin: 0;
	width: 400px;
}

.document-focused {
	-x-border: solid 1px #333;
}

.document-focused .document-input {
	color: #000;
}

.document-focused .document-header {
	-x-background: #999;
}

.document-focused .document-footer {
	-x-background: #999;
}

/* basic */
.chapter {
	margin: 5px 0;
}

/* highlighting */
.verse-highlight {
	background: #efefff;
}
.word-highlight {
	background: #aaf;
	outline: solid 1px #aaf;
}

/* modal */
.modal-window {
	font-family: arial;
	position: absolute;
	width: 600px;
	height: 400px;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -200px;
	background: #fff;
	border: solid 1px #999;
}
.modal-window-header {
	background: #333;
	color: #fff;
	padding: 5px;
	height: 20px;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeedeb), color-stop(100%, #dddcda));
	background-image: -webkit-linear-gradient(#eeedeb,#dddcda);
	background-image: -moz-linear-gradient(#eeedeb,#dddcda);
	background-image: -o-linear-gradient(#eeedeb,#dddcda);
	background-image: -ms-linear-gradient(#eeedeb,#dddcda);
	background-image: linear-gradient(#eeedeb,#dddcda);
	background-color: #DDDCDA;	
}
.modal-window-header .modal-window-close{
	float: right;
}

.modal-window-body {
	overflow: auto;
	height: 318px;
	padding: 10px;
	border: solid 1px #ccc;	
}
.modal-window-footer {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeedeb), color-stop(100%, #dddcda));
	background-image: -webkit-linear-gradient(#eeedeb,#dddcda);
	background-image: -moz-linear-gradient(#eeedeb,#dddcda);
	background-image: -o-linear-gradient(#eeedeb,#dddcda);
	background-image: -ms-linear-gradient(#eeedeb,#dddcda);
	background-image: linear-gradient(#eeedeb,#dddcda);
	background-color: #DDDCDA;
	padding: 5px;
	height: 20px;
	font-size: 12px;
}

.search-text {
	width: 200px;
}

	.search-result {
		overflow: hidden;
		margin: 0 0 6px 0;
		font-size: 13px;
		line-height: 1.3;
		padding: 4px 0;
	}
	
	.search-result:hover {
		background: #ccccff;
		cursor: pointer;
	}
	
	.search-result .verse {
		display: block;
		float: left;
		width: 420px;
	}
	
	
	.search-result .search-verse {
		display: block;
		font-weight: bold;
		float: left;
		width: 120px;
	}
	
	.search-result .verse-num {
		display:none;
	}
	
	.search-result .highlight {
		background: yellow;
		
	}
	
	.search-result .cf, .search-result .note  {
		display: none;
	}	
	
/* nav drop down */
.document-navigation-window {
	position: absolute;
	border: 2px solid #333;
	background: #222;
	border-radius: 5px;
	width: 300px;
	padding: 5px;
	height: 300px;
	top: 0;
	left: 0;
	display: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	
}
	.document-navigation-window h3 {
		color: #fff;
		font-size: 14px;
		height: 20px;
		padding: 0;
		margin: 0;
	}
	.document-navigation-list  .nav-scroller {
		height: 280px;
		overflow-x: hidden;
		overflow-y: scroll;
		-x-border: solid 1px #222;
		background: #eee;
		color: #333;
	}
	.document-navigation-list .nav-scroller li{
		cursor: pointer;
	}
	.document-navigation-list .nav-scroller li:hover{
		background: #aaaaff;
	}
	.book-list {
		float: left;
		width: 150px;
	}
	.book-list li {
		display: block;
		padding: 4px 0 4px 5px;
		border: solid 1px #aaa;
		border-color: #ccc #333 #333 #ccc ;
	}
	.book-list li.selected {
		background: #ccccff;
	}
	
	.chapter-list {
		float: left;
		width: 150px;
	}
	.chapter-list li {
		font-size: 11px;
		line-height: 1;
		float: left;
		width: 24px;
		height: 16px;
		padding: 5px 0 2px;
		border: solid 1px #aaa;
		border-color: #ccc #333 #333 #ccc ;
		text-align: center;
	}

/* lexicon */
.lex-entry {
	
}
.lex-entry .greek {
	font-family: 'GentiumPlus';
	font-size: 14px;
	font-weight: bold;
}

.lex-entry .hebrew {
	font-family: 'EzraSILRegular';
	font-size: 14px;
	font-weight: bold;
}

.lex-entry .morphology {
	font-style: italic;
}

.lex-entry .strongs-number {
}
.lex-entry .strong-search {
	display: inline-block;
	cursor: pointer;
	color: #0000cc;
}
.lex-entry .strong-search:hover {
	background: #0000cc;
	color: #fff;
}
.lex-entry.lemma-popup .definition {
	display: block;
}
.lemma-selected {
	background: #333;
	color: #fff;
}

/* popups */
.popup-window {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 300px;
	background: #222;
	border-radius: 4px;
	font-family: arial;
	font-size: 12px;
	box-shadow: rgba(20,20,20, 0.6) 0 5px 10px;
	border: solid 1px #111;
	border-color: #777 #333 #111 #333;
}
	.popup-window .popup-header {
		color: #fff;
		padding: 7px 7px 0 7px;
		position: relative;
	}
	.popup-window .popup-title {
		pointer-events: none;
		user-select: none;
	}
	.popup-window .popup-content {
		background: #fff;
		min-height: 60px;
		margin: 7px;
		padding: 8px;
		line-height: 1.4;
	}
	.popup-window .popup-close {
		position: absolute;
		right: 8px;
		top: 8px;
		cursor: pointer;
	}
	.popup-window .popup-footer {
		padding: 0 8px 8px 8px;
		color: #fff;
	}		
	.popup-window .popup-menu {
		padding: 0 8px;
	}
	
	.popup-window .popup-content p {
		margin: 10px 0;
	}
	
	.popup-window .popup-content code {
		font-family: monospace;
		background: #111;
		margin: 10px 0;
		color: #eee;
		display: block;
		padding: 5px;
	}
	
/* config window */
.config-options {
	margin: 0 0 10px 0;
	overflow: hidden;
}
.config-options .config-option {
	float: left;
	margin: 0 5px 0  0;
	width: 55px;
	min-height: 20px;
	line-height: 1;
}
.config-options .config-option h3 {
	margin: 0 0 0.5em 0;
}
.config-options .config-option input[type=radio]{
	margin-right: 5px;
	vertical-align: top;
}
.config-options .config-option span{
	vertical-align: middle;
}
.config-toggle {
	display: inline-block;
	width: 100px;
}


.theme-demo {
	display: inline-block;
	width: 12px;
	height: 20px;
	padding: 0;
	margin: 0;
	border: 0;
}
	
/* custom config */

/* CONFIG: Font-family */


span.config-font-default {
	font-size: 16px;
}

.config-font-georgia .chapter {
	font-family: georgia;
}
span.config-font-georgia {
	font-family: georgia;
	font-size: 16px;
}


.config-font-tahoma .chapter {
	font-family: tahoma;
}
span.config-font-tahoma {
	font-family: tahoma;
	font-size: 16px;
}


.config-font-baskerville .chapter {
	font-family: baskerville;
}
span.config-font-baskerville {
	font-family: baskerville;
	font-size: 16px;
}


/* TAN */
.config-theme-default .site-header {
	background: #000;
}
.config-theme-default .document-content {
	background: #fff;
}
.config-theme-default .document-header {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeedeb), color-stop(100%, #dddcda));
	background-image: -webkit-linear-gradient(#eeedeb,#dddcda);
	background-image: -moz-linear-gradient(#eeedeb,#dddcda);
	background-image: -o-linear-gradient(#eeedeb,#dddcda);
	background-image: -ms-linear-gradient(#eeedeb,#dddcda);
	background-image: linear-gradient(#eeedeb,#dddcda);
	background-color: #eeedeb;
}
.config-theme-default .document-footer {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeedeb), color-stop(100%, #dddcda));
	background-image: -webkit-linear-gradient(#eeedeb,#dddcda);
	background-image: -moz-linear-gradient(#eeedeb,#dddcda);
	background-image: -o-linear-gradient(#eeedeb,#dddcda);
	background-image: -ms-linear-gradient(#eeedeb,#dddcda);
	background-image: linear-gradient(#eeedeb,#dddcda);
	background-color: #DDDCDA;
}
.config-theme-default .chapter {
	color: #000;
}
.config-theme-default .popup-window {
	background: #000;
}

.config-theme-default-demo1 {
	background: #eee;
}
.config-theme-default-demo2 {
	background: #333;
}

/*
NEW THEMEs
***********************/
/* Nature */
.config-theme-nature #header, .config-theme-nature-demo1 {
	background: url(images/leaves_antique_texture_1_bg.jpg);
}
.config-theme-nature .document-content {
	-x-background: #eeebe7;
}
.config-theme-nature .document-header, .config-theme-nature-demo2 {
	background: url(images/leaves_antique_texture_3_bg.jpg);
}
.config-theme-nature .document-footer {
	background: url(images/leaves_antique_texture_3_bg.jpg);
}
.config-theme-nature .chapter {
	color: #111;
}
.config-theme-nature .popup-window {
	background: #111;
}

/* STEEL */
.config-theme-steel #header, .config-theme-steel-demo1  {
	background: url(images/cream_aluminum_1_bg.jpg);
}
.config-theme-steel .document-content {
	-x-background: #eeebe7;
}
.config-theme-steel .document-header, .config-theme-steel-demo2 {
	background: url(images/cream_aluminum_2_bg.jpg);
}
.config-theme-steel .document-footer {
	background: url(images/cream_aluminum_2_bg.jpg);
}
.config-theme-steel .chapter {
	color: #111;
}
.config-theme-steel .popup-window {
	background: #111;
}

/* Art */
.config-theme-art #header, .config-theme-art-demo1  {
	background: url(images/floral_lines_texture_1_bg.jpg);
}
.config-theme-art .document-content {
	-x-background: #eeebe7;
}
.config-theme-art .document-header, .config-theme-art-demo2 {
	background: url(images/floral_lines_texture_2_bg.jpg);
}
.config-theme-art .document-footer {
	background: url(images/floral_lines_texture_2_bg.jpg);
}
.config-theme-art .chapter {
	color: #111;
}
.config-theme-art .popup-window {
	background: #111;
}

/* WOOD */
.config-theme-wood #header, .config-theme-wood-demo1  {
	background: url(images/wood_texture_1_bg.jpg);
}
.config-theme-wood .document-content {
	-x-background: #eeebe7;
}
.config-theme-wood .document-header, .config-theme-wood-demo2  {
	background: url(images/wood_texture_2_bg.jpg);
}
.config-theme-wood .document-footer {
	background: url(images/wood_texture_2_bg.jpg);
}
.config-theme-wood .chapter {
	color: #111;
}
.config-theme-wood .popup-window {
	background: #111;
}

/* Paper */
.config-theme-paper #header, .config-theme-paper-demo1  {
	background: url(images/yellow_cream_texture_1_bg-1.jpg);
}
.config-theme-paper .document-content {
	background: #fefefe;
}
.config-theme-paper .document-header, .config-theme-paper-demo2  {
	background: url(images/leaves_antique_texture_2_bg.jpg);
}
.config-theme-paper .document-footer {
	background: url(images/leaves_antique_texture_2_bg.jpg);
}
.config-theme-paper .chapter {
	color: #111;
}
.config-theme-paper .popup-window {
	background: #111;
}
/* END NEW THEMES
**************************/



/* TAN */
.config-theme-tan .site-header {
	background: #4f2e00;
}
.config-theme-tan .document-content {
	-x-background: #eeebe7;
}
.config-theme-tan .document-header {
	background: #d3c9b8;
}
.config-theme-tan .document-footer {
	background: #d3c9b8;
}
.config-theme-tan .chapter {
	color: #4f2e00;
}
.config-theme-tan .popup-window {
	background: #4f2e00;
}

/* GREEN */
.config-theme-green .site-header {
	background: #33aa33;
}
.config-theme-green .document-content {
	background: #fefefe;
}
.config-theme-green .document-header {
	background: #ccffcc;
}
.config-theme-green .document-footer {
	background: #ccffcc;
}
.config-theme-green .chapter {
	color: #002200;
}
.config-theme-green .popup-window {
	background: #33aa33;

}

/* font size */
.config-size-small .chapter {
	font-size: 10px;
}
span.config-size-small {
	font-size: 10px;
}

.config-size-large .chapter {
	font-size: 18px;
}
span.config-size-large  {
	font-size: 18px;
}

.config-size-jumbo .chapter {
	font-size: 22px;
}
span.config-size-jumbo  {
	font-size: 22px;
}

.config-size-huge .chapter {
	font-size: 26px;
}
span.config-size-huge  {
	font-size: 26px;
}


/* verses and notes */
.config-chapters-off .chapter-num {
	display: none;
}
.config-verses-off .verse-num {
	display: none;
}
.config-notes-off .chapter .note,
.config-notes-off .chapter .cf {
	display: none;
}

/* Media */
.config-images-off .image-icon {
	display: none;
}
.config-video-off .video-icon{
	display: none;
}
  
  
/* Words fo Chrsit */
.config-wordsofchrist-off span.woc {
	color: #111;
}


/* morphy */
.morph-row {
	overflow: hidden;
}
	.morph-strong {
		float: left;
		width: 90px;
	}
	.morph-strong input {
		width: 80px;
	}
	.morph-morph {
		float: left;
		width: 140px;
	}
	.morph-style {
		float: left;
		width: 130px;
	}
	.morph-color {
		float: left;
		width: 80px;
	}
	.morph-example {
		float: left;
		width: 60px;
		text-align: center;
	}	
	.morph-remove {
		float: left;
		cursor: pointer;
		background: #333;
		font-size: 10px;
		line-height: 1;
		text-align: center;
		color: #fff;
		border-radius: 10px;
		width: 10px;
		height: 10px;
		padding: 4px;
	}
	.morph-remove:hover {
		background: #999;
	}
	
.outline {
	display: block;
	margin: 5px 0;
}
.outline ul, .outline ol {
	margin: 0 0 0 10px;
}
.outline ol li {
	list-style-type: decimal;
	margin: 0 0 0 10px;
}

.outline ol li ol li {
	list-style-type: lower-alpha;
}

.outline ol li ol li ol li{
	list-style-type: lower-roman;
}

.outline ol li ol li ol li ol li{
	list-style-type: decimal;
}

/* media library */

.inline-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #ccc url(images/icons-small.png) top left no-repeat;
	cursor: pointer;
	border-radius: 4px;
	margin-right: 5px;
}

.inline-icon:hover {
	background-color: #339;
}

.image-icon {
	background-position: -262px -38px;
}
.video-icon {
	background-position: -294px -38px;
}



.image-library-thumbs {
	list-style-type: none;
	border: 0;
	padding: 0;
}
.image-library-thumbs li {
	display: block;
	width: 60px;
	height: 60px;
	margin: 0 10px 10px 0;
	float: left;
	text-align: center;
}
.image-library-thumbs li img {
	display: inline;
	cursor: pointer;
	max-width: 60px;
	max-height: 60px;
	
}
