body {
	background: #fff;
}

#header {
	height: 40px;
	background: #333;
	color: #fff;
}
#header h1 {
	float: left;
	width: 300px;
	padding: 10px 0 10px 20px;
	font-size: 18px;
}

#header #header-nav {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
	padding: 10px 10px 0 0 ;
}

#content {
	background: #fff;
}

#footer {
	height: 12px;
	padding: 5px 0;
	background: #333;
	color: #fff;
	text-align: center;
	font-size: 10px;
}

#footer a {
	color: #fff;
}

#header, #footer, #content {
	font-family: Helvetica, Arial;
}

#header-nav input {
	background: transparent url(images/icons-light-small.png) 0 0  no-repeat;
	border: solid 1px #999;
	border-radius: 5px;
	-x-text-indent: -9999px;
	width: 22px;
	height: 22px;
	margin: 0 2px;
	cursor: pointer;	
}
#header-nav input:hover {
	background-color: #3333ff;	
}


#header-nav #docs-fullscreen {
	background-position: -102px -276px;
}
#header-nav #docs-config {
	background-position: -102px -117px;
}
#header-nav #docs-add-document {
	background-position: -102px -5px;
}
#header-nav #docs-morphology {
	background-position: -102px -208px;
}


.document-container {
	margin: 0;
	-x-border: solid 1px #bbb;
	float: left;
	position: relative;
}

.document-header {
	-x-background: #bbb;
	padding: 5px 20px;
	-x-border-radius: 5px 5px 0 0;
	border: solid 1px #aaa;
	border-width: 1px 1px 1px 0;
	border-color: transparent #ccc #aaa transparent;
	
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeedeb), color-stop(100%, #dddcda));
	background-image: -webkit-linear-gradient(#eeedeb,#dddcda);
	background-image: -moz-linear-gradient(#eeedeb,#dddcda);
	background-image: -o-linear-gradient(#eeedeb,#dddcda);
	background-image: -ms-linear-gradient(#eeedeb,#dddcda);
	background-image: linear-gradient(#eeedeb,#dddcda);
	background-color: #DDDCDA;
	-x-border: 1px solid #CBC9CF;	
}
	.document-header-buttons {
		-x-float: right;
		width: 100px;
		text-align: right;
		position: absolute;
		top: 5px;
		right: 5px;
	}

	.document-header .document-button {
		display: none;
	}
	.document-header .document-input {
		width: 180px;
		height: 28px;
		font-size: 120%;
		padding: 0 6px;
		color: #bbb;
	}
	.document-header .document-selector {
		width: 190px;
	}
	
	.document-header .document-search-button,
	.document-header .document-info-button,
	.document-header .document-close-button {
		background: transparent url(images/icons-dark-small.png) 0 0  no-repeat;
		border: solid 1px #999;
		border-radius: 5px;
		text-indent: -9999px;
		width: 22px;
		height: 22px;
		margin: 0 2px;	
	}
	.document-header .document-search-button:hover,
	.document-header .document-info-button:hover,
	.document-header .document-close-button:hover{
		background-color: #ccccff;
		cursor: pointer;
	}
	.document-header .document-search-button {	
		background-position: -58px -186px;
	}
	.document-header .document-info-button {
		background-position:  -35px -28px;
	}
	.document-header .document-close-button {
		background-position:  -125px -185px;
		-x-background-position:  -80px -5px
	}		

.document-content {
	position: relative;
	overflow: auto;
	/*
	overflow: scroll;
	overflow-y: hidden;
	overflow-x: hidden;
	*/
}

	.document-wrapper {
		position: absolute;
		padding: 10px 20px;
		line-height: 1.6;
		font-size: 14px;
		font-family: Helvetica, Arial;
	}	

.document-about {
	position: absolute;
	background: #fefefe;
	background: rgba(221, 220, 218, 0.9);
	top: 10px;
	left: 10px;
	width: 200px;
	padding: 15px;
	height: 200px;
	display: none;
}

	.document-about h1 {
		margin: 0 0 15px 0;
		line-height: 1;
	}
	
	.document-about p {
		margin: 15px 0;
		line-height: 1.5;
	}

.document-footer {
	padding: 4px 15px;
	-x-background: #bbb;
	color: #333;
	height: 44px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	line-height: 1.2;
	-x-border-radius: 0 0 5px 5px ;
	
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeedeb), color-stop(100%, #dddcda));
	background-image: -webkit-linear-gradient(#eeedeb,#dddcda);
	background-image: -moz-linear-gradient(#eeedeb,#dddcda);
	background-image: -o-linear-gradient(#eeedeb,#dddcda);
	background-image: -ms-linear-gradient(#eeedeb,#dddcda);
	background-image: linear-gradient(#eeedeb,#dddcda);
	background-color: #DDDCDA;
	
	border: solid 1px #aaa;
	border-width: 1px 1px 1px 0;
	border-color: #ccc #ccc transparent  transparent;
}

.document-focused {
	-x-border: solid 1px #333;
}

.document-focused .document-input {
	color: #000;
}

.document-focused .document-header {
	-x-background: #999;
}

.document-focused .document-footer {
	-x-background: #999;
}

/* basic */
.chapter {
	margin: 5px 0;
}

/* highlighting */
.verse-highlight {
	background: #efefff;
}
.word-highlight {
	background: #aaf;
	outline: solid 1px #aaf;
}

/* modal */
.modal-window {
	font-family: arial;
	position: absolute;
	width: 600px;
	height: 400px;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -200px;
	background: #fff;
	border: solid 1px #999;
}
.modal-window-header {
	background: #333;
	color: #fff;
	padding: 5px;
	height: 20px;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeedeb), color-stop(100%, #dddcda));
	background-image: -webkit-linear-gradient(#eeedeb,#dddcda);
	background-image: -moz-linear-gradient(#eeedeb,#dddcda);
	background-image: -o-linear-gradient(#eeedeb,#dddcda);
	background-image: -ms-linear-gradient(#eeedeb,#dddcda);
	background-image: linear-gradient(#eeedeb,#dddcda);
	background-color: #DDDCDA;	
}
.modal-window-header .modal-window-close{
	float: right;
}

.modal-window-body {
	overflow: auto;
	height: 318px;
	padding: 10px;
	border: solid 1px #ccc;	
}
.modal-window-footer {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeedeb), color-stop(100%, #dddcda));
	background-image: -webkit-linear-gradient(#eeedeb,#dddcda);
	background-image: -moz-linear-gradient(#eeedeb,#dddcda);
	background-image: -o-linear-gradient(#eeedeb,#dddcda);
	background-image: -ms-linear-gradient(#eeedeb,#dddcda);
	background-image: linear-gradient(#eeedeb,#dddcda);
	background-color: #DDDCDA;
	padding: 5px;
	height: 20px;
	font-size: 12px;
}

.search-text {
	width: 200px;
}

	.search-result {
		overflow: hidden;
		margin: 0 0 6px 0;
		font-size: 13px;
		line-height: 1.3;
		padding: 4px 0;
	}
	
	.search-result:hover {
		background: #ccccff;
		cursor: pointer;
	}
	
	.search-result .verse {
		display: block;
		float: left;
		width: 420px;
	}
	
	
	.search-result .search-verse {
		display: block;
		font-weight: bold;
		float: left;
		width: 120px;
	}
	
	.search-result .verse-num {
		display:none;
	}
	
	.search-result .highlight {
		background: yellow;
		
	}
	
	.search-result .cf, .search-result .note  {
		display: none;
	}	
	
/* nav drop down */
.document-navigation-window {
	position: absolute;
	border: 2px solid #333;
	background: #222;
	border-radius: 5px;
	width: 300px;
	padding: 5px;
	height: 300px;
	top: 0;
	left: 0;
	display: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	
}
	.document-navigation-window h3 {
		color: #fff;
		font-size: 14px;
		height: 20px;
		padding: 0;
		margin: 0;
	}
	.document-navigation-list  .nav-scroller {
		height: 280px;
		overflow-x: hidden;
		overflow-y: scroll;
		-x-border: solid 1px #222;
		background: #eee;
		color: #333;
	}
	.document-navigation-list .nav-scroller li{
		cursor: pointer;
	}
	.document-navigation-list .nav-scroller li:hover{
		background: #aaaaff;
	}
	.book-list {
		float: left;
		width: 150px;
	}
	.book-list li {
		display: block;
		padding: 4px 0 4px 5px;
		border: solid 1px #aaa;
		border-color: #ccc #333 #333 #ccc ;
	}
	.book-list li.selected {
		background: #ccccff;
	}
	
	.chapter-list {
		float: left;
		width: 150px;
	}
	.chapter-list li {
		font-size: 11px;
		line-height: 1;
		float: left;
		width: 24px;
		height: 16px;
		padding: 5px 0 2px;
		border: solid 1px #aaa;
		border-color: #ccc #333 #333 #ccc ;
		text-align: center;
	}

/* lexicon */
.lex-entry {
	
}
.lex-entry .greek {
	font-family: 'GentiumPlus';
	font-size: 14px;
	font-weight: bold;
}

.lex-entry .hebrew {
	font-family: 'EzraSILRegular';
	font-size: 14px;
	font-weight: bold;
}

.lex-entry .morphology {
	font-style: italic;
}

.lex-entry .strongs-number {
}
.lex-entry .strong-search {
	display: inline-block;
	cursor: pointer;
	color: #0000cc;
}
.lex-entry .strong-search:hover {
	background: #0000cc;
	color: #fff;
}
.lex-entry.lemma-popup .definition {
	display: block;
}
.lemma-selected {
	background: #333;
	color: #fff;
}

/* popups */
.popup-window {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 300px;
	background: #222;
	border-radius: 4px;
	font-family: arial;
	font-size: 12px;
	box-shadow: rgba(20,20,20, 0.6) 0 5px 10px;
	border: solid 1px #111;
	border-color: #777 #333 #111 #333;
}
	.popup-window .popup-header {
		color: #fff;
		padding: 7px 7px 0 7px;
		position: relative;
	}
	.popup-window .popup-title {
		pointer-events: none;
		user-select: none;
	}
	.popup-window .popup-content {
		background: #fff;
		min-height: 60px;
		margin: 7px;
		padding: 8px;
		line-height: 1.4;
	}
	.popup-window .popup-close {
		position: absolute;
		right: 8px;
		top: 8px;
		cursor: pointer;
	}
	.popup-window .popup-footer {
		padding: 0 8px 8px 8px;
		color: #fff;
	}		
	.popup-window .popup-menu {
		padding: 0 8px;
	}
	
	.popup-window .popup-content p {
		margin: 10px 0;
	}
	
	.popup-window .popup-content code {
		font-family: monospace;
		background: #111;
		margin: 10px 0;
		color: #eee;
		display: block;
		padding: 5px;
	}
	
	
/* custom config */
.config-large {
	
}
.config-large .document-wrapper .chapter {
	font-size: 20px;
}


.config-font-georgia .chapter {
	font-family: georgia;
}

.config-font-tahoma .chapter {
	font-family: tahoma;
}

.config-font-baskerville .chapter {
	font-family: baskerville;
}

/* TAN */
.config-theme-tan #header {
	background: #4f2e00;
}
.config-theme-tan .document-content {
	-x-background: #eeebe7;
}
.config-theme-tan .document-header {
	background: #d3c9b8;
}
.config-theme-tan .document-footer {
	background: #d3c9b8;
}
.config-theme-tan .chapter {
	color: #4f2e00;
}
.config-theme-tan .popup-window {
	background: #4f2e00;

}

/* GREEN */
.config-theme-green #header {
	background: #33aa33;
}
.config-theme-green .document-content {
	background: #fefefe;
}
.config-theme-green .document-header {
	background: #ccffcc;
}
.config-theme-green .document-footer {
	background: #ccffcc;
}
.config-theme-green .chapter {
	color: #002200;
}
.config-theme-green .popup-window {
	background: #33aa33;

}

/* font size */
.config-size-small .chapter {
	font-size: 10px;
}

.config-size-large .chapter {
	font-size: 18px;
}

.config-size-jumbo .chapter {
	font-size: 22px;
}

/* verses and notes */
.config-verses-hideverses .verse-num,
.config-verses-hideverses .chapter-num {
	display: none;
}
.config-notes-hidenotes .chapter .note,
.config-notes-hidenotes .chapter .cf {
	display: none;
}



/* morphy */
.morph-row {
	overflow: hidden;
}
	.morph-strong {
		float: left;
		width: 90px;
	}
	.morph-strong input {
		width: 80px;
	}
	.morph-morph {
		float: left;
		width: 140px;
	}
	.morph-style {
		float: left;
		width: 130px;
	}
	.morph-color {
		float: left;
		width: 80px;
	}
	.morph-example {
		float: left;
		width: 60px;
		text-align: center;
	}	
	.morph-remove {
		float: left;
		cursor: pointer;
		background: #333;
		font-size: 10px;
		line-height: 1;
		text-align: center;
		color: #fff;
		border-radius: 10px;
		width: 10px;
		height: 10px;
		padding: 4px;
	}
	.morph-remove:hover {
		background: #999;
	}
	
.outline {
	display: block;
	margin: 5px 0;
}
.outline ul, .outline ol {
	margin: 0 0 0 10px;
}
.outline ol li {
	list-style-type: decimal;
	margin: 0 0 0 10px;
}

.outline ol li ol li {
	list-style-type: lower-alpha;
}

.outline ol li ol li ol li{
	list-style-type: lower-roman;
}

.outline ol li ol li ol li ol li{
	list-style-type: decimal;
}