#header {
	height: 50px;
	background: #333;
	color: #fff;
}

#footer {
	height: 40px;
	background: #333;
	color: #fff;
}

#header, #footer, #content {
	font-family: Helvetica, Arial;
}

.document-container {
	margin: 10px;
	border: solid 1px #666;
	float: left;
}

.document-header {
	background: #666;
	padding: 5px;
}
	.document-header .document-button {
		display: none;
	}
	.document-header .document-selector {
		width: 60px;
	}	

.document-content {
	position: relative;
	overflow: auto;
}

	.document-wrapper {
		position: absolute;
		padding: 0 15px;
		line-height: 1.25;
	}	

.document-footer {
	padding: 5px;
	background: #666;
	color: #fff;
	height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 80%;
}

.document-focused {
	border: solid 1px #333;
}

.document-focused .document-header {
	background: #333;
}

.document-focused .document-footer {
	background: #333;
}


/* highlighting */
.verse-highlight {
	background: #ddf;
}
.word-highlight {
	background: #aaf;
}