body {
	background: #fff;
}

#header {
	height: 40px;
	background: #333;
	color: #fff;
}
#header h1 {
	text-align: center;
	padding: 10px 0 ;
	font-size: 18px;
}
#content {
	background: #fff;
}

#footer {
	height: 12px;
	padding: 5px 0;
	background: #333;
	color: #fff;
	text-align: center;
	font-size: 10px;
}

#header, #footer, #content {
	font-family: Helvetica, Arial;
}

.document-container {
	margin: 0;
	-x-border: solid 1px #bbb;
	float: left;
	position: relative;
}

.document-header {
	-x-background: #bbb;
	padding: 5px 20px;
	-x-border-radius: 5px 5px 0 0;
	border: solid 1px #aaa;
	border-width: 1px 1px 1px 0;
	border-color: transparent #ccc #aaa transparent;
	
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeedeb), color-stop(100%, #dddcda));
	background-image: -webkit-linear-gradient(#eeedeb,#dddcda);
	background-image: -moz-linear-gradient(#eeedeb,#dddcda);
	background-image: -o-linear-gradient(#eeedeb,#dddcda);
	background-image: -ms-linear-gradient(#eeedeb,#dddcda);
	background-image: linear-gradient(#eeedeb,#dddcda);
	background-color: #DDDCDA;
	-x-border: 1px solid #CBC9CF;	
}

	.document-header .document-button {
		display: none;
	}
	.document-header .document-input {
		width: 180px;
		height: 28px;
		font-size: 120%;
		padding: 0 6px;
	}
	.document-header .document-selector {
		width: 190px;
	}
	
	.document-header .document-search-button,
	.document-header .document-info-button {
		background: transparent url(images/icons-dark-small.png) 0 0  no-repeat;
		border: solid 1px #999;
		border-radius: 5px;
		text-indent: -9999px;
		width: 22px;
		height: 22px;
		margin: 0 2px;	
	}
	.document-header .document-search-button:hover,
	.document-header .document-info-button:hover {
		background-color: #ccccff;
		cursor: pointer;
	}
	.document-header .document-search-button {	
		background-position: -58px -186px;
	}
	.document-header .document-info-button {
		background-position:  -35px -28px;
	}	

.document-content {
	position: relative;
	overflow: auto;
	/*
	overflow: scroll;
	overflow-y: hidden;
	overflow-x: hidden;
	*/
}

	.document-wrapper {
		position: absolute;
		padding: 10px 20px;
		line-height: 1.6;
		font-size: 14px;
		font-family: Helvetica, Arial;
	}	

.document-about {
	position: absolute;
	background: #fefefe;
	top: 10px;
	left: 10px;
	width: 200px;
	padding: 15px;
	height: 200px;
	display: none;
}

.document-footer {
	padding: 5px 15px;
	-x-background: #bbb;
	color: #333;
	height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	line-height: 1.2;
	-x-border-radius: 0 0 5px 5px ;
	
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeedeb), color-stop(100%, #dddcda));
	background-image: -webkit-linear-gradient(#eeedeb,#dddcda);
	background-image: -moz-linear-gradient(#eeedeb,#dddcda);
	background-image: -o-linear-gradient(#eeedeb,#dddcda);
	background-image: -ms-linear-gradient(#eeedeb,#dddcda);
	background-image: linear-gradient(#eeedeb,#dddcda);
	background-color: #DDDCDA;
	
	border: solid 1px #aaa;
	border-width: 1px 1px 1px 0;
	border-color: #ccc #ccc transparent  transparent;
}

.document-focused {
	-x-border: solid 1px #333;
}

.document-focused .document-header {
	-x-background: #999;
}

.document-focused .document-footer {
	-x-background: #999;
}

/* basic */
.chapter {
	margin: 5px 0;
}

/* highlighting */
.verse-highlight {
	background: #efefff;
}
.word-highlight {
	background: #aaf;
}

/* modal */
.modal-window {
	font-family: arial;
	position: absolute;
	width: 600px;
	height: 400px;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -200px;
	background: #fff;
	border: solid 1px #999;
}
.modal-window-header {
	background: #333;
	color: #fff;
	padding: 5px;
	height: 20px;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeedeb), color-stop(100%, #dddcda));
	background-image: -webkit-linear-gradient(#eeedeb,#dddcda);
	background-image: -moz-linear-gradient(#eeedeb,#dddcda);
	background-image: -o-linear-gradient(#eeedeb,#dddcda);
	background-image: -ms-linear-gradient(#eeedeb,#dddcda);
	background-image: linear-gradient(#eeedeb,#dddcda);
	background-color: #DDDCDA;	
}
.modal-window-header .modal-window-close{
	float: right;
}

.modal-window-body {
	overflow: auto;
	height: 318px;
	padding: 10px;
	border: solid 1px #ccc;	
}
.modal-window-footer {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeedeb), color-stop(100%, #dddcda));
	background-image: -webkit-linear-gradient(#eeedeb,#dddcda);
	background-image: -moz-linear-gradient(#eeedeb,#dddcda);
	background-image: -o-linear-gradient(#eeedeb,#dddcda);
	background-image: -ms-linear-gradient(#eeedeb,#dddcda);
	background-image: linear-gradient(#eeedeb,#dddcda);
	background-color: #DDDCDA;
	padding: 5px;
	height: 20px;
	font-size: 12px;
}

.search-text {
	width: 200px;
}

	.search-result {
		overflow: hidden;
		margin: 0 0 6px 0;
		font-size: 13px;
		line-height: 1.3;
		padding: 4px 0;
	}
	
	.search-result:hover {
		background: #ccccff;
		cursor: pointer;
	}
	
	.search-result .verse {
		display: block;
		float: left;
		width: 450px;
	}
	
	
	.search-result .search-verse {
		display: block;
		font-weight: bold;
		float: left;
		width: 120px;
	}
	
	.search-result .verse-num {
		display:none;
	}
	
	.search-result .highlight {
		background: yellow;
		
	}